@model App.Api.Models.Home.DashboardViewModel
@using App.Service.Message
<div class="row">
    <div class="col-md-4">
        <h2>Feed on Facebook</h2>
        <ul>
            @foreach (MessageListItem item in Model.Messages)
            {
                if (string.IsNullOrWhiteSpace(item.Message)) { continue; }
                <li>@string.Format("{0}({1})", item.Message, item.Id)</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Post new comment</h2>
        <form action="/home/PostMessage">
            <div>
                <label>Id</label><br />
                <input type="text" name="id" />
            </div>
            <div>
                <label>Message</label><br />
                <textarea name="message" cols="30" rows="3"></textarea>
            </div>
            <div>
                <button type="submit" value="Send">Send</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
