<?xml version="1.0" encoding="utf-8" ?>
<appconfiguration>
  <authentication tokenExpiredAfterInMinute="20" ></authentication>
  <paging pageSize="10"></paging>
  <databases>
    <clear />
    <add name="DefaultConnection" database="MyERP" server="myerp.database.windows.net" port="1433" userName="myerp" password="!QAZxsw2" dbType="MSSQL" default="true"></add>
  </databases>
  <localization defaultLanguageCode="en"></localization>
  <uitest reportTemplate="templates/report.xlsx" notificationReceiver="thanhtuit27@gmail.com" zipFile="report_{0}.zip" environtmenFile="environments.xml" basePath="C:\data\projects\myERP\api\App.UI.Test\config\" baseOutput="C:\data\projects\myERP\api\App.UI.Test\output\" timeout="10"></uitest>
  <mail server="smtp.gmail.com" port="587" ssl="true" username="techcoaching123465789@gmail.com " password="!@#$%^&amp;*()" displayName="No-reply" defaultSender="techcoaching123465789@gmail.com " />
  <folder mailTemplate="templates/email/" baseResourceFolder="C:\data\projects\myERP\api\App.UI.Test/resources/"></folder>
  <integration-test baseUrl="http://localhost:8888"></integration-test>
  <facebook baseApiUrl="https://graph.facebook.com"></facebook>
  <twitter baseApiUrl="https://api.twitter.com/1.1/" consumerKey="wZc0bZ4IhQ0IFBfhdPnnT5cJi" consumerSecret="og5tNjm7cWqZSDaUhus0QJldRBZt0KYhd0bnStLXjcNpodageH" accessToken="806037750881226752-ngNvUw6NlEy5tpxBwFEe79PQo4NUAXf" accessTokenSecret="2p4SswJXfJ61joywV4P89LMe5bT0r0wh7aT7zz1HwMCOb"></twitter>
</appconfiguration>
